<!DOCTYPE html>
<html lang="en">
    <%- include('layout/header'); -%>
    <%- include('layout/script'); -%>
    <body>
        <!-- Navigation-->
        <%- include('layout/navigation'); -%>
        <div class="cover">
            <div>
                <h1>Dashboard</h1>
                <p>DriveTest Booking Kiosk</p>
            </div>
        </div>
    </body>
    <!--  footer -->
    <%- include('layout/footer'); -%>
    </html>
