<nav class="navigationbar">
    <div class="navigationitems">
        <ul>
            <li class="navigation_item"><a href="/">Home</a></li>
            <li class="navigation_item"><a href="/appointment">Appointment</a></li>
            <li class="navigation_item"><a href="/viewResult">Candidate Results</a></li>
            <li class="navigation_item"><a href="/logout">Logout</a></li>
            
        </ul>
    </div>
</nav>