<nav class="navigationbar">
    <div class="navigationitems">
        <ul>
            <li class="navigation_item"><a href="/">Dashboard</a></li>
            <li class="navigation_item"><a href="/g2">G2 test</a></li>
            <li class="navigation_item"><a href="/g">G test</a></li>
            <li class="navigation_item"><a href="/logout">Logout</a></li>
        </ul>
    </div>
</nav>