<nav class="navigationbar">
    <div class="navigationitems">
        <ul>
            <li class="navigation_item"><a href="/">Dashboard</a></li>
            <li class="navigation_item"><a href="/login">LogIn</a></li>
        </ul>
    </div>
</nav>